<link href="~/Content/NewStyle.css" rel="stylesheet" />
@{
    ViewBag.Title = "Example";
}

<h2>CSS</h2>

<div class="CSStask">
    <div class="preview">
        <div class="previewsecondLevel">Try it myself</div>
        <p>Hello World</p>
    </div>
    <div class="preview2">
        <div class="preview2secondLevel">
            Try it myself with more style element
        </div>
        <p>Hello World</p>
    </div>
</div>


<h2>BootStrap</h2>

<div class="container" style="margin-top: 40px">
    <div class="row">
        <div class="col-xs-6 col-sm-3" style="background-color: #55BBD6;">
            <p>Content1</p>
        </div>
        <div class="col-xs-6 col-sm-3" style="background-color: #ABD372;">
            <p>Content2</p>
        </div>
        <div class="col-xs-6 col-sm-3" style="background-color: #FFE596;">
            <p>Content3</p>
        </div>
        <div class="col-xs-6 col-sm-3" style="background-color: #FF8080;">
            <p>Content4</p>
        </div>
    </div>
</div>
